#root {
  min-height: 100vh;
  width:100%;
  background-color: white;
  color: black;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap:2rem;

}

header{
  height:70px;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 7.5px rgba(0,0,0,0.1);
}

.watercnc-logo{
  color:#ff5a5f;
  font-size: 2rem;
  width:95%;
  text-align: left;
  margin: 0;
}

.collage{
  --img-width:72px;
  display:grid;
  grid-template-columns: repeat(5, var(--img-width));
  grid-template-rows: repeat(2, 1fr);
  row-gap: calc(var(--img-width) / 18);
  column-gap: calc(var(--img-width) / 18);
  align-items: end;
}

.collage>img{
  border-radius: calc(var(--img-width) / 8);
  width:var(--img-width);
}
.collage>img:nth-child(1){
  translate:0 calc(var(--img-width) / 2) !important;
}
.collage>img:nth-child(2n):nth-child(-n + 6),.collage>img:nth-child(2n + 7){
  translate:0 calc(-1* var(--img-width) / 4);
}

.collage>img:nth-child(2n + 1):nth-child(-n + 6),.collage>img:nth-child(2n + 6){
  translate:0 calc(var(--img-width) / 4);
}

.experiences-section{
  --heading-size:2.2rem;
  font-family: 'Popppins', sans-serif;
  font-weight: 300;
  line-height: 1.1rem;
}

.experiences-section>p{
  width:calc(var(--heading-size) * 8.5);
  text-align: left;
  margin:0 auto;
}

.experiences-section>h2{
  font-weight: 600;
  font-size: var(--heading-size);
}

.experiences-list{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-top: 2rem;
}
.experience{
  position: relative;
  width:250px;
}
.experience>.badge{
  position: absolute;
  top:3px;
  left:40px;
  border-radius: 6px;
  background-color: white;
  padding: 4px;
}
.experience>img{
  border-radius: 9px;
}

.star{
  color:#ff2222;
}

.experience .rating-Count, .experience .location{
  color:grey;
  margin-left: 0.3rem;
}